*{
margin:0;
padding:0;
box-sizing:border-box;
font-famiy: Arial, sans-serif;
}

body{
bacground: #f2f4f8;
}

.navbar{
background: #221C9E;
color: white;
display:flex;
justify-content:space-between;
align-items:center;
padding:12px 30px;
}

.page-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
}

.brand{
display: flex;
align-items:center;
gap: 12px;
}

.logo{
width: 55px;
height:55px;
border-radius:50%;
background: white;
padding:5px;
}

.brand h2{
font-size:20px;
color:white;
}

.nav-buttons button {
padding: 9px 15px;
margin-left:10px;
background:white;
color:#1b2a41;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

.nav-buttons button:hover{
background:#ccc9dc;
}
.container {
    width: 90%;
    margin: 25px auto;
}

.section {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
}

h1 {
    color:#221C9E;
    margin-bottom: 15px;
}

h2 {
    color: #221C9E;
    margin-bottom: 18px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
margin-bottom:20px;
}

th{
background:  #221C9E;
color:white;
padding:10px;
}

td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

input{
width:100%;
padding:12px;
margin:8px 0;
border: 1px solid #ccc;
border-radius:10px;
font-size:16px;
}

input:focus{
border-color: #1b2a41;
}

button{
padding: 11px 20px;
margin-top: 12px;
background:#221C9E;
color:white;
border-radius:10px;
font-weight:border;
cursor:pointer;
}

button:hover{
background: #606de0;
}

@media screen and (max-width: 900px) {
    .navbar {
        flex-wrap: wrap;
        gap: 12px;
    }

    .page-title {
        position: static;
        transform: none;
        width: 100%;
        order: 3;
        text-align: center;
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 12px 15px;
    }

    .container {
        width: 95%;
        margin: 15px auto;
    }

    .section {
        padding: 18px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    table {
        min-width: 700px;
    }

    th,
    td {
        padding: 8px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        flex-direction: column;
    }

    .brand {
        justify-content: center;
    }

    .logo {
        width: 45px;
        height: 45px;
    }

    .brand h2 {
        font-size: 17px;
    }

    .page-title {
        order: 2;
        font-size: 22px;
        white-space: normal;
    }

    .nav-buttons {
        order: 3;
        width: 100%;
    }

    .nav-buttons button {
        width: 100%;
    }

    .section {
        padding: 15px;
        border-radius: 8px;
    }

    input {
        font-size: 15px;
        padding: 10px;
    }

    button {
        width: 100%;
    }
}
